body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('/src/components/Assets/Loggedin.svg');
  background-size: cover;
  background-repeat: repeat-y;
}

.avatar {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: 1rem;
  margin: 0 auto;
  border: #f8d4ff 2px solid;
}

.chatcontainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avatarchat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1f1f1;
  margin-right: 10px;
}

.inputarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(206, 230, 255, 0.9);
  border-radius: 15px;
}

.user-list {
  margin-top: 0.5rem;
  position:fixed;
  right: 2rem;
  top: 1rem;
  bottom: 2rem;
  min-width: 15rem;
  background-color: rgba(215, 232, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.user-list h3 {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.divider {
  margin: 0.2rem 0;
  margin-bottom: 1rem;
}

.user-list ul {
  max-height: 75vh;
  max-width: 15rem;
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #a4caff #5d036e;
  overflow-x:visible;
  list-style: none;
  margin: 0;
  padding:0; 
}

.user-list ul::-webkit-scrollbar {
  width: 10px;
}

.user-list ul::-webkit-scrollbar-track {
  background-color: #a4caff;
}

.user-list ul::-webkit-scrollbar-thumb {
  background-color: #5d036e;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-item img {
  margin-right: 10px;
}

.user-item button {
  margin-left: auto;
  background-color: rgb(157, 216, 255);
  color: black;
}

.chatbubbles {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: rgb(28, 7, 33);
  background-color: rgba(206, 230, 255, 0.9);
  box-shadow: 0 1px 10px rgba(28, 1, 32, 0.7);
}

@media screen and (max-width: 768px) {
  .user-list {
    min-width: 100vw;
    margin-top: 5rem;
    position: relative;
    right: auto;
    top: auto;
    min-width: auto;
    background-color: rgba(215, 232, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    margin-bottom: 1rem;
    scrollbar-width: thin;
  }

  .user-list ul {
    min-width: 90vw;
    display: flex;
    flex-direction: row;
    max-height: none;
    overflow-x: scroll;
  }

  .user-list ul::-webkit-scrollbar {
    width: 100%;
  }

  .user-item {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .chatbubbles {
    border-radius: 10px;
  }

  .inputarea {
    padding: 0.5rem;
    background-color: rgba(206, 230, 255, 0.9);
    border-radius: 0;
  }


}
