.chatcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: url('/src/components/Assets/Loggedin.svg');
  background-size: cover;
  background-repeat: repeat-y;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 .avatarchat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f1f1f1;
  margin-right: 10px;
}



@media screen and (max-width: 768px) {
  .chatcontainer {
    background: url('/src/components/Assets/Loggedin.svg');
    background-size: cover;
    background-repeat: repeat-y;
  }
  
}