/* Register.css */

.container {
    background-image: url('/src/components/Assets/Register.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  
  .register-form {
    width: 100%;
    max-width: 40vw;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
  
  .register-form h1 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    letter-spacing: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
  }
  
  .register-form p {
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .register-form label {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

  }
  
  .register-form input {
    display: flex;
    flex-direction: column;
    border:none;
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: rgba(51, 0, 57, 0.3);
  }

  .register-form ::placeholder {
    color: #ececec;
  }
  
  .buttonsubmit{
    width: 50%;
    justify-content: center;
    padding: 10px;
    background-color: rgba(82, 255, 120, 0.5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buttonavatar {
    width: 5rem;
    height: 5rem;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 45, 224, 0.3);
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .register-form button:hover {
    background-color: rgba(55, 214, 43, 0.7);
  }

  
  .register-form .error {
    color: red;
  }
  
  .register-form .avatar-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .register-form .avatar-picker img {
    cursor: pointer;
    border: none;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
  }

  .avatar-picker {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .selectedavatar {
    border-radius: 100%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  }

  